
<div class="input">
    <input type="text" placeholder="Search categories..." (input)="onSearchChange($event)" class="search-input" />
</div>
<div class="cat_list">
<div *ngIf="filteredCategories.length > 0; else noResults" class="category-container">
    <div *ngFor="let category of filteredCategories" class="cat_button">
        <button (click)="selectCategory(category)" class="button">{{ category.name }}</button>
    </div>
</div>
</div>

<ng-template #noResults>
    <p class="no-results-text">No results found</p>
</ng-template>

<ng-template #noCur>
    <app-product-list [products]="products"></app-product-list>
</ng-template>

<div *ngIf="curCategory else noCur" class="selected-category-container">
    <h2 class="selected-category-heading">Selected Category: {{ curCategory.name }}</h2>
    <p class="product-list-container">
        <app-product-list [products]="curCategory.productList"></app-product-list>
    </p>
</div>
