a{
    margin-left: 20px;
    margin-top: 10px;
    word-wrap: break-word;
    width: 95%;
}
.galery {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px 20px;
}
.img_gallery {
    height: auto;
    align-items: center;
    display: flex;
    width: 95%;
    background-size: cover;
}
.img_gallery  img {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.slide img {
    margin-top: 10px;
    display: flex;
    margin: 0 10px;
    cursor: pointer;
    height: 100%;
    flex-wrap: wrap;
    object-fit: cover;
}
.likes{
    margin-left: 20px;
    margin-top: 10px;
}
h3{
    margin-left: 20px;
}
.text_desc{
    display:flex;
    margin: 20px;
    word-wrap: break-word;
    width: 95%;
}

.button_wrapper{
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

.rating{
    margin-left:20px;
}
.price{
    margin-left: 20px;
    margin-top: 10px;
}
