<div class="wrapper">
    <section class="galery">
        <div class="container">
            <div class="img_gallery">
                <div class="slide" *ngFor="let productimg of product.image_url">
                    <img src="{{ productimg }}" />
                </div>
            </div>
        </div>
    </section>
<a href="{{ product.url_product }}" >
    <h3 class="name">{{ product.name }}</h3>
</a>
<div class="text_desc">
    <p class="desc">{{ product.description }}</p>
</div>
<div class="rating">
       <span class="rating_txt">
           <star-rating
                   [value]="product.rating"
                   [totalstars]="5"
                   checkedcolor="gold"
                   uncheckedcolor="grey"
                   size="24px"
                   [readonly]="true">
       </star-rating></span>
</div>
<div class="likes">
    <p>Likes: {{product.likes}}</p>
</div>
<div class="price" >
    {{product.price}}₸
</div>
<div class="button_wrapper">
    <button type="button" (click)="shareOnWhatsApp(product)">
        Share on WhatsApp
    </button>
    <button type="button" (click)="shareOnTelegram(product)">
        Share on Telegram
    </button>
    <button type="button" (click)="like()" class="share-button">
        Like
    </button>

    <button type="button" (click)="remove()" class="share-button">
        Remove
    </button>
</div>
</div>